body {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
}
p {
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.best__solution {
  background: linear-gradient(230.95deg, #cb1ae8 -0.37%, #37bda6 100%);
  height: 1342px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 51px;
}
.header {
  width: 1283px;
  height: 119px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 159px;
}
.top__menu-wrap {
  display: flex;
}
.top__link-logo {
  margin-right: 232px;
}
.top_menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top__menu-item {
  margin-right: 51px;
}
.top__menu-item:nth-child(4) {
  margin-right: 310px;
}
.top__menu-link {
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.top__button {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 39px;
  padding: 20px 50px 20px 50px;
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 10px 0px;
}
.top__title-wrap {
  width: 651px;
  height: 198px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.top__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 27px;
}
.top__subtitle-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #e5e5e5;
  margin-bottom: 71px;
}
.button__started {
  border-radius: 39px;
  background: #ffffff;
  border: 1px solid #ffffff;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #112d57;
  padding: 18px 46px;
  margin-right: 5px;
  margin-bottom: 101px;
}
.button__free {
  border-radius: 39px;
  padding: 18px 46px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
}
.figmaLand {
  height: 852px;
  margin-bottom: 51px;
}
.figmaLand__wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 101px;
}
.figmaLand__title {
  margin-top: 60px;
  width: 765px;
  height: 114px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
  color: #000000;
  text-align: center;
  letter-spacing: 0.2px;
}
.informations__card-list {
  width: 1270px;
  height: 615px;
  list-style: none;
  display: flex;
  margin: 0px auto;
}
.informations__card-item {
  width: 401px;
  height: 440px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #dedede;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-right: 31px;
}
.informations__card-item:nth-child(3) {
  margin-right: 0px;
}
.informations__card-item:nth-child(2) {
  background: linear-gradient(230.95deg, #cb1ae8 -0.37%, #37bda6 100%);
}
.card__img {
  align-self: flex-start;
  flex-grow: 0;
  margin: 0px 10px;
  flex: none;
  order: 0;
  width: 70px;
  height: 102px;
  margin-top: 60px;
  margin-left: 60px;
}
.card__title {
  margin-left: 60px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #000000;
  flex: none;
  margin-bottom: 30px;
  width: 212px;
  height: 33px;
}
.card__text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #5c5c5c;
  width: 281px;
  height: 108px;
  margin-bottom: 30px;
  margin-left: 60px;
}
.card__link {
  margin-left: 60px;
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #03d6f3;
  width: 85px;
  height: 27px;
}
.size {
  width: 286px;
  height: 33px;
}
.easy__process {
  height: 706px;
  margin-bottom: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right__block-wrap {
  width: 505px;
  height: 317px;
  margin-right: 100px;
}
.right__block-title {
  width: 505px;
  height: 77px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #000000;
  margin-bottom: 46px;
}
.right__block-text {
  width: 500px;
  height: 118px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #5c5c5c;
  margin-bottom: 36px;
}
.button__sign {
  background: #03d6f3;
  border: 1px solid #03d6f3;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  padding: 18px 46px;
  margin-right: 22px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.button__more {
  border: 1px solid #30d7ba;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  padding: 18px 46px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #30d7ba;
  background: #ffffff;
}
.finance {
  height: 758px;
  margin-bottom: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.finance__img-wrap {
  margin-right: 100px;
}
.finance__operations-wrap {
  width: 544px;
  height: 320px;
}
.finance__title {
  width: 524px;
  height: 114px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #000000;
  margin-bottom: 47px;
}
.finance__text {
  width: 480px;
  height: 60px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #5c5c5c;
  margin-bottom: 37px;
}
.finance__button {
  background: #03d6f3;
  border: 1px solid #03d6f3;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  padding: 18px 46px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.businesse {
  display: flex;
  height: 691px;
  justify-content: center;
  align-items: center;
  margin-bottom: 174px;
}
.businesse__wrap {
  width: 426px;
  height: 479px;
  margin-right: 69px;
}
.businesse__title {
  width: 374px;
  height: 171px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #000000;
  margin-bottom: 47px;
}
.businesse__text {
  width: 301px;
  height: 162px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #5c5c5c;
  margin-bottom: 37px;
}
.businesse__buttons {
  display: flex;
}
.businesse__click-butoon {
  border: 1px solid #03d6f3;
  background: #03d6f3;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding: 18px 43px;
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin-right: 7px;
}
.businesse__buttons-click {
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  border: 1px solid #30d7ba;
  background: #ffffff;
  padding: 18px 43px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #30d7ba;
  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
}
.your__team {
  position: relative;
  height: 1371px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 123px;
}
.your__team::before {
  content: "";
  background-color: #cdcdcd;
  width: 868px;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.title__team {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #000000;
  margin-bottom: 30px;
}
.team__subtitle-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #5c5c5c;
  margin-bottom: 63px;
}
.category__card-list {
  width: 1071px;
  height: 1127px;
  display: flex;
  list-style: none;
  justify-content: center;
}
.category__card-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 335px;
  height: 1067px;
  margin-right: 33px;
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 10px;
}
.category__card-item:nth-child(3) {
  margin-right: 0px;
}
.category__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 10px;
}
.category__text-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #5c5c5c;
  margin-bottom: 30px;
}
.category__img {
  margin-bottom: 30px;
}
.categoty__sub-picture {
  margin-bottom: 45px;
}
.category__link {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #000000;
  margin-bottom: 20px;
  text-decoration: none;
}
.color__grey-one {
  color: #5c5c5c;
}
.color__grey {
  color: #5c5c5c;
  margin-bottom: 40px;
}
.margin {
  margin-bottom: 40px;
}
.category__butoon {
  background: #03d6f3;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  padding: 18px 82px;
  flex: none;
  order: 4;
  align-self: center;
  flex-grow: 0;
  margin: 0px 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
  border: 1px solid #03d6f3;
}
.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 113px;
}
.subscribe__wrap {
  width: 471px;
  height: 242px;
  text-align: center;
}
.subscribe__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #000000;
  margin-bottom: 27px;
}
.subscribe__text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #5c5c5c;
  margin-bottom: 69px;
}
.subscribe__input {
  background: #efefef;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  padding: 14px 28px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #5c5c5c;
  margin-right: 10px;
}
.subscribe__button {
  background: #03d6f3;
  border: 1px solid #03d6f3;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  padding: 18px 46px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.footer {
  background: #112d57;
  height: 371px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation__content {
  display: flex;
  width: 1134px;
  height: 247px;
  justify-content: space-between;
  align-items: center;
}
.left__column-wrap {
  width: 317px;
  height: 215px;
}
.price__one-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 66px;
}
.price__one-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.price__one-link {
  color: #ffffff;
  margin-right: 84px;
  margin-bottom: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  width: 112px;
  height: 27px;
  text-decoration: none;
}
.margin {
  margin-right: 0px;
}
.just__type-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #ffffff;
  text-decoration: none;
}
.right__column-wrap {
  width: 309px;
  height: 194px;
}
.communucation__link {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
  text-decoration: none;
}
.communucation__link-down {
  margin-bottom: 44px;
}
.communucation__link-icon {
  margin-right: 17px;
}
.communucation__link-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.networks__list {
  list-style: none;
}
.networks__link {
  margin-right: 32px;
}
