body {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
}
p {
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.best__solution {
  background: linear-gradient(230.95deg, #cb1ae8 -0.37%, #37bda6 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 51px;
}
.header {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 159px;
}
.top__menu-wrap {
  display: flex;
}
.top__link-logo {
  margin-right: 232px;
}
.top_menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top__menu-item {
  margin-right: 51px;
}
.top__menu-item:nth-child(4) {
  margin-right: 310px;
}
.top__menu-link {
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.top__button {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 39px;
  padding: 20px 50px 20px 50px;
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 10px 0px;
}
.top__title-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.top__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 27px;
  width: 632px;
}
.top__subtitle-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #e5e5e5;
  margin-bottom: 71px;
}
.button__started {
  border-radius: 39px;
  background: #ffffff;
  border: 1px solid #ffffff;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #112d57;
  padding: 18px 46px;
  margin-right: 5px;
  margin-bottom: 101px;
}
.button__free {
  border-radius: 39px;
  padding: 18px 46px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
}
.top__screen {
  width: 100%;
}
.figmaLand {
  margin-bottom: 161px;
}
.figmaLand__wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 101px;
}
.figmaLand__title {
  margin-top: 60px;
  width: 765px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
  color: #000000;
  text-align: center;
  letter-spacing: 0.2px;
}
.informations__card-list {
  list-style: none;
  display: flex;
  margin: 0px auto;
  justify-content: center;
  max-width: 401px;
}
.informations__card-item {
  display: flex;
  padding: 60px 60px 50px 60px;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #dedede;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-right: 31px;
}
.informations__card-item:nth-child(3) {
  margin-right: 0px;
}
.informations__card-item:nth-child(2) {
  background: linear-gradient(230.95deg, #cb1ae8 -0.37%, #37bda6 100%);
}
.card__img {
  align-self: flex-start;
  flex-grow: 0;
  margin: 0px 10px;
  flex: none;
  order: 0;
  width: 70px;
}
.card__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #000000;
  flex: none;
  margin-bottom: 30px;
}
.card__text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #5c5c5c;
  width: 281px;
  margin-bottom: 30px;
}
.card__link {
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #03d6f3;
}
.size {
  width: 286px;
  height: 33px;
}
.easy__process {
  margin-bottom: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right__block-wrap {
  margin-right: 100px;
}
.right__block-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #000000;
  margin-bottom: 46px;
}
.right__block-text {
  max-width: 500px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #5c5c5c;
  margin-bottom: 36px;
}
.button__sign {
  background: #03d6f3;
  border: 1px solid #03d6f3;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  padding: 18px 46px;
  margin-right: 22px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.button__more {
  border: 1px solid #30d7ba;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  padding: 18px 46px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #30d7ba;
  background: #ffffff;
}
.finance {
  margin-bottom: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.finance__img-wrap {
  margin-right: 100px;
}
.finance__operations-wrap {
}
.finance__title {
  max-width: 524px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #000000;
  margin-bottom: 47px;
}
.finance__text {
  max-width: 480px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #5c5c5c;
  margin-bottom: 37px;
}
.finance__button {
  background: #03d6f3;
  border: 1px solid #03d6f3;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  padding: 18px 46px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.businesse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 174px;
}
.businesse__wrap {
  margin-right: 69px;
}
.businesse__title {
  max-width: 374px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #000000;
  margin-bottom: 47px;
}
.businesse__text {
  max-width: 301px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #5c5c5c;
  margin-bottom: 37px;
}
.businesse__buttons {
  display: flex;
}
.businesse__click-butoon {
  border: 1px solid #03d6f3;
  background: #03d6f3;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding: 18px 43px;
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin-right: 7px;
}
.businesse__buttons-click {
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  border: 1px solid #30d7ba;
  background: #ffffff;
  padding: 18px 43px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #30d7ba;
  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
}
.your__team {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 250px;
}
.your__team::before {
  content: "";
  background-color: #cdcdcd;
  width: 868px;
  height: 1px;
  position: absolute;
  bottom: -134px;
  left: 50%;
  transform: translateX(-50%);
}
.title__team {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #000000;
  margin-bottom: 30px;
}
.team__subtitle-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #5c5c5c;
  margin-bottom: 63px;
}
.category__card-list {
  display: flex;
  list-style: none;
  justify-content: center;
}
.category__card-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 40px;
  margin-right: 33px;
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 10px;
}
.category__card-item:nth-child(3) {
  margin-right: 0px;
}
.category__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #000000;
  margin-bottom: 10px;
}
.category__text-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #5c5c5c;
  margin-bottom: 30px;
}
.category__img {
  margin-bottom: 30px;
}
.categoty__sub-picture {
  margin-bottom: 45px;
}
.category__link {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #000000;
  margin-bottom: 20px;
  text-decoration: none;
}
.color__grey-one {
  color: #5c5c5c;
}
.color__grey {
  color: #5c5c5c;
  margin-bottom: 40px;
}
.margin {
  margin-bottom: 40px;
}
.category__butoon {
  background: #03d6f3;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  padding: 18px 82px;
  flex: none;
  order: 4;
  align-self: center;
  flex-grow: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
  border: 1px solid #03d6f3;
}
.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 113px;
}
.subscribe__wrap {
  text-align: center;
}
.subscribe__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #000000;
  margin-bottom: 27px;
}
.subscribe__text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #5c5c5c;
  margin-bottom: 69px;
}
.subscribe__input {
  background: #efefef;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  padding: 14px 28px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #5c5c5c;
  margin-right: 10px;
}
.subscribe__button {
  background: #03d6f3;
  border: 1px solid #03d6f3;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 39px;
  padding: 18px 46px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.footer {
  background: #112d57;
  display: flex;
  justify-content: center;
  padding: 62px 0px;
}
.navigation__content {
  display: flex;
  align-items: center;
}
.left__column-wrap {
  margin-right: 86px;
}
.price__one-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 66px;
}
.price__one-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.price__one-link {
  color: #ffffff;
  margin-right: 84px;
  margin-bottom: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  width: 112px;
  height: 27px;
  text-decoration: none;
}
.margin {
  margin-right: 0px;
}
.just__type-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #ffffff;
  text-decoration: none;
}
.center__block-wrap {
  margin-right: 86px;
}
.right__column-wrap {
}
.communucation__link {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
  text-decoration: none;
}
.communucation__link-down {
  margin-bottom: 44px;
}
.communucation__link-icon {
  margin-right: 17px;
}
.communucation__link-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.networks__list {
  list-style: none;
}
.networks__link {
  margin-right: 32px;
}

@media screen and (max-width:1400px) {
}
@media screen and (max-width:1295px) {
  .top__link-logo {
    margin-right: 20px;
  }
  .top__menu-item:nth-child(4) {
    margin-right: 20px;
  }
  .informations__card-item {
    padding: 30px 30px 30px 30px;
  }
  .right__block-wrap {
    margin-right: 0px;
  }
  .businesse__wrap {
    margin-right: 20px;
    padding: 0px 0px 0px 10px;
  }
  .finance__img-wrap {
    margin-right: 20px;
  }
  .businesse__click-butoon {
    width: 193px;
    padding: 20px 20px;
  }
  .businesse__buttons-click {
    width: 193px;
    padding: 20px 20px;
  }
}
@media screen and (max-width:1111px) {
  .navigation__content {
    padding: 0px 20px;
  }
  .informations__card-item {
    padding: 15px 15px 15px 15px ;
  }
  .category__card-item {
    padding: 20px 20px;
  }
  .right__block-wrap {
    padding-left: 10px;
  }
  .networks__link {
    margin-right: 0px;
  }
  .button__sign {
    margin-right: 0px;
  }
}
@media screen and (max-width:1024px) {
  .top_menu-list {
    display: none;
  }
  .informations__card-list {
    flex-direction: column;
    width: 320px;
  }
  .informations__card-item {
    margin-right: 0px;
    margin-bottom: 64px;
    text-align: center;
  }
  .card__img {
    align-self: center;
  }
  .easy__process {
    flex-direction: column;
  }
  .right__block-buttons {
    margin-bottom: 98px;
  }
  .finance {
    flex-direction: column;
  }
  .businesse {
    flex-direction: column;
  }
  .businesse__wrap {
  }
  .businesse__title {
  }
  .businesse__text {
  }
  .businesse__buttons {
    padding-top: 79px;
    margin-bottom: 79px;
  }
  .img__businesse-wrap {
    padding: 0px 20px;
  }
  .img__businesse {
    width: 100%;
  }
  .your__team {
    position: relative; 
  }
  .your__team::before {
    content: "";
    background-color: #cdcdcd;
    width: 450px;
    height: 1px;
    position: absolute;
  }
  .category__card-list {
    flex-direction: column;
  }
  .category__card-item {
    margin-right: 0px;
    margin-bottom: 33px;
    padding: 40px 40px;
  }
  .navigation__content {
    flex-direction: column;
  }
  .left__column-wrap {
    margin-right: 0px;
    margin-bottom: 87px;
  }
  .center__block-wrap {
    margin-right: 0px;
    margin-bottom: 97px;
  }
  .networks__link {
    margin-right: 30px;
  }
}
@media screen and (max-width:635px) {
.top__button {
  padding: 18px 29px;
}
  .top__title {
  font-weight: 400;
  max-width: 352px;
  width: 100%;
  margin: 0px auto;
  padding-bottom: 27px;
}
.top__subtitle-text {
  max-width: 334px;
  width: 100%;
}
.butoons__wrap {
text-align: center;
}
.button__started {
  margin-bottom: 13px;
  max-width: 252px;
  width: 100%;
}
.button__free {
  max-width: 252px;
  width: 100%;
}
.figmaLand__title {
  max-width: 282px;
}
.informations__card-item {
  padding: 40px 50px;
  align-items: center;
}
.right__block-wrap {
  text-align: center;
}
.right__block-title {
  max-width: 303px;
  margin: 0px auto;
}
.right__block-text {
  max-width: 335px;
  padding-top: 27px;
  margin: 0px auto;
  padding-bottom: 35px;
}
.button__sign {
  width: 100%;
  max-width: 320px;
  padding: 20px 20px;
  margin-bottom: 22px;
}
.button__more {
  width: 100%;
  max-width: 320px;
}
.chart__img {
  width: 100%;
}
.finance__title {
  max-width: 326px;
}
.finance__text {
  max-width: 330px;
}
.finance__img {
  width: 100%;
}
.finance__operations-wrap {
  text-align: center;
}
.businesse__title {
  text-align: center;
}
.businesse__text {
  max-width: 320px;
  text-align: center;
  margin: 0px auto;
}
.businesse__buttons {
  flex-direction: column;
  text-align: center;
}
.businesse__click-butoon {
  width: 100%;
  max-width: 294px;
  margin-bottom: 12px;
}
.businesse__buttons-click {
  width: 100%;
  max-width: 281px;
}
.title__team {
  max-width: 340px;
}
.team__subtitle-text {
  max-width: 281px;
  text-align: center;
}
.subscribe__input {
  width: 100%;
  padding: 20px 20px;
  text-align: center;
  margin-bottom: 12px;
  margin-right: 0px;
}
.subscribe__button {
  width: 100%;
  border-radius: 0px;
}
.center__picture {
  width: 100%;
}
.your__team::before {
width: 320px;
}
}
@media screen and (max-width:360px) {
  .top__menu-wrap {
    flex-direction: column;
  }
  .title__team {
    text-align: center;
  }
  .category__card-item {
    padding: 5px 5px;
  }
  .your__team::before {
    content: "";
    background-color: #cdcdcd;
    width: 250px;
    height: 1px;
    position: absolute;
}
.navigation__content {
  padding: 0px 0px;
}
.center__picture {
  padding: 0px 5px;
}
}